:root {
  --primary-color: #1890ff;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --gray-1: #ffffff;
  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #e8e8e8;
  --gray-5: #d9d9d9;
  --gray-6: #bfbfbf;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #262626;
  --gray-10: #000000;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 24px;
}
html.dark {
  --gray-1: #2c2c2c;
  --gray-2: #454545;
  --gray-3: #5b5b5b;
  --gray-4: #7e7e7e;
  --gray-5: #adadad;
  --gray-6: #dcdcdc;
  --gray-7: #e8e8e8;
  --gray-8: #f3f3f3;
  --gray-9: #f8f8f8;
  --gray-10: #fafafa;
}

/* document flow */
.ft-r {
  float: right;
}

.ft-l {
  float: left;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

.pt-a {
  position: absolute;
}

.pt-r {
  position: relative;
}

.pt-f {
  position: fixed;
}

.pt-s {
  position: sticky;
}

.lt-0 {
  left: 0;
}

.lt-s {
  left: var(--size-s);
}

.lt-m {
  left: var(--size-m);
}

.lt-l {
  left: var(--size-l);
}

.rt-0 {
  right: 0;
}

.rt-s {
  right: var(--size-s);
}

.rt-m {
  right: var(--size-m);
}

.rt-l {
  right: var(--size-l);
}

.tp-0 {
  top: 0;
}

.tp-s {
  top: var(--size-s);
}

.tp-m {
  top: var(--size-m);
}

.tp-l {
  top: var(--size-l);
}

.bt-0 {
  bottom: 0;
}

.bt-s {
  bottom: var(--size-s);
}

.bt-m {
  bottom: var(--size-m);
}

.bt-l {
  bottom: var(--size-l);
}

/* text */
.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.td-u {
  text-decoration: underline;
}

.td-lt {
  text-decoration: line-through;
}

.td-o {
  text-decoration: overline;
}

.tt-c {
  text-transform: capitalize;
}

.tt-l {
  text-transform: lowercase;
}

.tt-u {
  text-transform: uppercase;
}

.ti-s {
  text-indent: var(--size-s);
}

.ti-m {
  text-indent: var(--size-m);
}

.ti-l {
  text-indent: var(--size-l);
}

.cl-1 {
  color: var(--gray-1);
}

.cl-2 {
  color: var(--gray-2);
}

.cl-3 {
  color: var(--gray-3);
}

.cl-4 {
  color: var(--gray-4);
}

.cl-5 {
  color: var(--gray-5);
}

.cl-6 {
  color: var(--gray-6);
}

.cl-7 {
  color: var(--gray-7);
}

.cl-8 {
  color: var(--gray-8);
}

.cl-9 {
  color: var(--gray-9);
}

.cl-10 {
  color: var(--gray-10);
}

.cl-p,
.cl-p-h:hover {
  color: var(--primary-color);
}

.cl-s,
.cl-s-h:hover {
  color: var(--success-color);
}

.cl-w,
.cl-w-h:hover {
  color: var(--warning-color);
}

.cl-e,
.cl-e-h:hover {
  color: var(--error-color);
}

.fw-b {
  font-weight: bold;
}

.fw-l {
  font-weight: lighter;
}

.fw-n {
  font-weight: normal;
}

.fw-4 {
  font-weight: 400;
}

.fs-1 {
  font-size: 2em;
}

.fs-2 {
  font-size: 1.5em;
}

.fs-3 {
  font-size: 1.17em;
}

.fs-4 {
  font-size: 1em;
}

.fs-5 {
  font-size: 0.83em;
}

.fs-6 {
  font-size: 0.67em;
}

.fs-i {
  font-style: italic;
}

.fs-o {
  font-style: oblique;
}

.wb-ba {
  word-break: break-all;
}

.wb-bw {
  word-break: break-word;
}

.ws-bs {
  white-space: break-spaces;
}

.ws-pl {
  white-space: pre-line;
}

.ws-nw {
  white-space: nowrap;
}

.ws-p {
  white-space: pre;
}

.to-e {
  text-overflow: ellipsis;
}

.to-c {
  text-overflow: clip;
}

/* box */
.wd-0 {
  width: 0;
}

.wd-100 {
  width: 100%;
}

.wd-100vw {
  width: 100vw;
}

.ht-0 {
  height: 0;
}

.ht-100 {
  height: 100%;
}

.ht-100vh {
  height: 100vh;
}

.pd-0 {
  padding: 0;
}

.pd-s {
  padding: var(--size-s);
}

.pd-m {
  padding: var(--size-m);
}

.pd-l {
  padding: var(--size-l);
}

.pdl-0 {
  padding-left: 0;
}

.pdl-s {
  padding-left: var(--size-s);
}

.pdl-m {
  padding-left: var(--size-m);
}

.pdl-l {
  padding-left: var(--size-l);
}

.pdr-0 {
  padding-right: 0;
}

.pdr-s {
  padding-right: var(--size-s);
}

.pdr-m {
  padding-right: var(--size-m);
}

.pdr-l {
  padding-right: var(--size-l);
}

.pdt-0 {
  padding-top: 0;
}

.pdt-s {
  padding-top: var(--size-s);
}

.pdt-m {
  padding-top: var(--size-m);
}

.pdt-l {
  padding-top: var(--size-l);
}

.pdb-0 {
  padding-bottom: 0;
}

.pdb-s {
  padding-bottom: var(--size-s);
}

.pdb-m {
  padding-bottom: var(--size-m);
}

.pdb-l {
  padding-bottom: var(--size-l);
}

.pdv-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pdv-s {
  padding-top: var(--size-s);
  padding-bottom: var(--size-s);
}

.pdv-m {
  padding-top: var(--size-m);
  padding-bottom: var(--size-m);
}

.pdv-l {
  padding-top: var(--size-l);
  padding-bottom: var(--size-l);
}

.pdh-0 {
  padding-left: 0;
  padding-right: 0;
}

.pdh-s {
  padding-left: var(--size-s);
  padding-right: var(--size-s);
}

.pdh-m {
  padding-left: var(--size-m);
  padding-right: var(--size-m);
}

.pdh-l {
  padding-left: var(--size-l);
  padding-right: var(--size-l);
}

.mg-0 {
  margin: 0;
}

.mg-0a {
  margin: 0 auto;
}

.mg-s {
  margin: var(--size-s);
}

.mg-m {
  margin: var(--size-m);
}

.mg-l {
  margin: var(--size-l);
}

.mgh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mgh-s {
  margin-left: var(--size-s);
  margin-right: var(--size-s);
}

.mgh-m {
  margin-left: var(--size-m);
  margin-right: var(--size-m);
}

.mgh-l {
  margin-left: var(--size-l);
  margin-right: var(--size-l);
}

.mgv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mgv-s {
  margin-top: var(--size-s);
  margin-bottom: var(--size-s);
}

.mgv-m {
  margin-top: var(--size-m);
  margin-bottom: var(--size-m);
}

.mgv-l {
  margin-top: var(--size-l);
  margin-bottom: var(--size-l);
}

.mgt-0 {
  margin-top: 0;
}

.mgt-s {
  margin-top: var(--size-s);
}

.mgt-m {
  margin-top: var(--size-m);
}

.mgt-l {
  margin-top: var(--size-l);
}

.mgl-0 {
  margin-left: 0;
}

.mgl-s {
  margin-left: var(--size-s);
}

.mgl-m {
  margin-left: var(--size-m);
}

.mgl-l {
  margin-left: var(--size-l);
}

.mgr-s {
  margin-right: var(--size-s);
}

.mgr-m {
  margin-right: var(--size-m);
}

.mgr-l {
  margin-right: var(--size-l);
}

.mgb-0 {
  margin-bottom: 0;
}

.mgb-s {
  margin-bottom: var(--size-s);
}

.mgb-m {
  margin-bottom: var(--size-m);
}

.mgb-l {
  margin-bottom: var(--size-l);
}

.bdt {
  border-top: 1px solid var(--gray-5);
}

.bdb {
  border-bottom: 1px solid var(--gray-5);
}

.bdl {
  border-left: 1px solid var(--gray-5);
}

.bdr {
  border-right: 1px solid var(--gray-5);
}

.bd {
  border: 1px solid var(--gray-5);
  border-radius: 2px;
}

.bdr-2 {
  border-radius: 2px;
}

.bdr-4 {
  border-radius: 4px;
}

.bdr-9999 {
  border-radius: 9999px;
}

.bdc-1 {
  border-color: var(--gray-1);
}

.bdc-2 {
  border-color: var(--gray-2);
}

.bdc-3 {
  border-color: var(--gray-3);
}

.bdc-4 {
  border-color: var(--gray-4);
}

.bdc-8 {
  border-color: var(--gray-8);
}

.bdc-9 {
  border-color: var(--gray-9);
}

.bdc-10 {
  border-color: var(--gray-10);
}

.bdc-p {
  border-color: var(--primary-color);
}

.bdc-s {
  border-color: var(--success-color);
}

.bdc-w {
  border-color: var(--warning-color);
}

.bdc-e {
  border-color: var(--error-color);
}

.bdc-c {
  border-collapse: collapse;
}

.bds-d {
  border-style: dashed;
}

.bs {
  box-shadow: 0 2px 8px var(--gray-3);
}

.bs-b {
  box-sizing: border-box;
}

.bs-c {
  box-sizing: content-box;
}
/* scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cccccc99;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.of-v {
  overflow: visible;
}

.of-s {
  overflow: scroll;
}

.of-a {
  overflow: auto;
}

.of-o {
  overflow: overlay;
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .of-a {
    scrollbar-gutter: stable;
    overflow: hidden;
  }

  .of-o {
    overflow: hidden;
  }

  .of-a:hover {
    overflow-y: auto;
    overflow-x: overlay;
  }

  .of-o:hover {
    overflow: overlay;
  }

  .of-a.pd-s,
  .of-a.pdr-s,
  .of-a.pdh-s {
    padding-right: calc(var(--size-s) - 8px);
  }
  .of-a.pd-m,
  .of-a.pdr-m,
  .of-a.pdh-m {
    padding-right: calc(var(--size-m) - 8px);
  }
  .of-a.pd-l,
  .of-a.pdr-l,
  .of-a.pdh-l {
    padding-right: calc(var(--size-l) - 8px);
  }
}
/* firefox */
@-moz-document url-prefix() {
  .of-a.pd-s,
  .of-a.pdr-s,
  .of-a.pdh-s{
    padding-right: var(--size-s);
  }
  .of-a.pd-m,
  .of-a.pdr-m,
  .of-a.pdh-m {
    padding-right: var(--size-m);
  }
  .of-a.pd-l,
  .of-a.pdr-l,
  .of-a.pdh-l {
    padding-right: var(--size-l);
  }
}

/* display */
.dp-n {
  display: none;
}

.dp-b {
  display: block;
}

.dp-ib {
  display: inline-block;
}

.dp-f,
.dp-f1,
.dp-fa {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

.dp-fa > * {
  flex: 1 1 auto;
}

.dp-f1 > * {
  flex: 1 1;
}

.fx-1 {
  flex: 1 1;
}

.fx-2 {
  flex: 2 2;
}

.fx-3 {
  flex: 3 3;
}

.fx-4 {
  flex: 4 4;
}

.fx-5 {
  flex: 5 5;
}

.fx-6 {
  flex: 6 6;
}

.fx-8 {
  flex: 8 8;
}

.fx-1a {
  flex: 1 1 auto;
}

.fx-2a {
  flex: 2 2 auto;
}

.fx-3a {
  flex: 3 3 auto;
}

.fx-4a {
  flex: 4 4 auto;
}

.fx-5a {
  flex: 5 5 auto;
}

.fx-6a {
  flex: 6 6 auto;
}

.fx-8a {
  flex: 8 8 auto;
}

.fb-0 {
  flex-basis: 0;
}

.va-m {
  vertical-align: middle;
}

.jc-c {
  justify-content: center;
}

.jc-l {
  justify-content: left;
}

.jc-r {
  justify-content: right;
}

.jc-s {
  justify-content: stretch;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-s {
  align-items: stretch;
}

.as-c {
  align-self: center;
}

.as-b {
  align-self: baseline;
}

.as-fe {
  align-self: flex-end;
}

.as-fs {
  align-self: flex-start;
}

.as-s {
  align-self: stretch;
}

/* other */
.bgc-1,
.bgc-1-h:hover,
.bgc-1-nc2 > *:nth-child(2n) {
  background-color: var(--gray-1);
}

.bgc-2,
.bgc-2-h:hover,
.bgc-2-nc2 > *:nth-child(2n) {
  background-color: var(--gray-2);
}

.bgc-3,
.bgc-3-h:hover,
.bgc-3-nc2 > *:nth-child(2n) {
  background-color: var(--gray-3);
}

.bgc-4,
.bgc-4-h:hover,
.bgc-4-nc2 > *:nth-child(2n) {
  background-color: var(--gray-4);
}

.bgc-8,
.bgc-8-h:hover,
.bgc-8-nc2 > *:nth-child(2n) {
  background-color: var(--gray-8);
}

.bgc-9,
.bgc-9-h:hover,
.bgc-9-nc2 > *:nth-child(2n) {
  background-color: var(--gray-9);
}

.bgc-10,
.bgc-10-h:hover,
.bgc-10-nc2 > *:nth-child(2n) {
  background-color: var(--gray-10);
}

.bgc-p,
.bgc-p-h:hover,
.bgc-p-nc2 > *:nth-child(2n) {
  background-color: var(--primary-color);
}

.bgc-s,
.bgc-s-h:hover,
.bgc-s-nc2 > *:nth-child(2n) {
  background-color: var(--success-color);
}

.bgc-w,
.bgc-w-h:hover,
.bgc-w-nc2 > *:nth-child(2n) {
  background-color: var(--warning-color);
}

.bgc-e,
.bgc-e-h:hover,
.bgc-e-nc2 > *:nth-child(2n) {
  background-color: var(--error-color);
}

.bgc-pb {
  background-clip: padding-box;
}

.bgc-cb {
  background-clip: content-box;
}

.bgp-lt {
  background-position: left top;
}

.bgp-lc, .bgp-l {
  background-position: left center;
}

.bgp-lb {
  background-position: left bottom;
}

.bgp-rt {
  background-position: right top;
}

.bgp-rc, .bgp-r {
  background-position: right center;
}

.bgp-rb {
  background-position: right bottom;
}

.bgr-x {
  background-repeat: repeat-x;
}

.bgr-y {
  background-repeat: repeat-y;
}

.bgr-n {
  background-repeat: no-repeat;
}

.bgs-ct {
  background-size: contain;
}

.bgs-cv {
  background-size: cover;
}

.bgp-ct {
  background-position: center top;
}

.bgp-cc, .bgp-c {
  background-position: center center;
}

.bgp-lb {
  background-position: center bottom;
}

.bgo-bb {
  background-origin: border-box;
}

.bgo-cb {
  background-origin: content-box;
}

.bga-f {
  background-attachment: fixed;
}

.bga-l {
  background-attachment: local;
}

.cs-p {
  cursor: pointer;
}

.cs-g {
  cursor: grab;
}

.zi-999 {
  z-index: 999;
}

.zi-1 {
  z-index: 1;
}

.ls-n {
  list-style: none;
}

.ls-a {
  list-style: auto;
}

.ls-c {
  list-style: circle;
}

.ls-d {
  list-style: disc;
}

.ls-rp {
  list-style: upper-roman;
}

.of-ct {
  object-fit: contain;
}

.of-cv {
  object-fit: cover;
}

.of-sd {
  object-fit: scale-down;
}

.of-n {
  object-fit: none;
}

.rs-b {
  resize: both;
}

.rs-v {
  resize: vertical;
}

.rs-h {
  resize: horizontal;
}

.vb-h {
  visibility: hidden;
}

.ol-u {
  outline: unset;
}